apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: external-tls
  namespace: default
spec:
  secretName: external-tls-{{ deployment_environment }}
  issuerRef:
    name: letsencrypt-{{ deployment_environment }}
    kind: ClusterIssuer
  commonName: "*.{{ cert_manager_external_domain }}"
  dnsNames:
  - "{{ cert_manager_external_domain}}"
  - "*.{{ cert_manager_external_domain }}"