apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard-auth
  namespace: default
data:
  users: |2
    {{ traefik_dashboard_secret }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: traefik-dashboard-basicauth
  namespace: default
spec:
  basicAuth:
    secret: traefik-dashboard-auth